body {
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 50%;
    height: 200px;
    font-size: 15px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

pre {
    margin-top: 20px;
    background: #f4f4f4;
    padding: 15px;
    border-radius: 6px;
}




.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  
}

.review-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #dbe2d5;
  height: 100px;
  width: 250px;

}


.severity-high { 
    border-left: 5px solid red;
 }
.severity-medium {
     border-left: 5px solid orange;
     }
.severity-low { 
    border-left: 5px solid green;
 }

.review-card h3 { 
    margin: 0 0 8px 0; font-size: 16px;
 }
.review-card p { 
    margin: 4px 0; font-size: 14px;
 }
